<!--nav class="navbar navbar-expand-sm bg-primary navbar-light justify-content-center">-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" href="#">{{ title }} GoogleMapIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="row-md">
    <h1>  </h1>
    <div class="col-md-12">
        <div class= "map">
          <!-- this creates a google map on the page with the given lat/lng from -->
          <!-- the component as the initial center of the map: -->
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
    </div>
  </div>

</main><!-- /.container -->
